@{
    ViewBag.Title = "About Us";
}

<script type="text/javascript">
    menuItemIndex = 0;
</script>

<h3 style="margin: 64px 72px 46px 72px">"Rivensoft specialise in helping businesses deliver enterprise
software, commercial websites and line of business application projects."</h3>

<p>Working primarily with Microsoft .NET technologies, our certified staff with over
15 years commercial experience, are able to help make your project a success.</p>

