@{
    ViewBag.Title = "About Us";
    ViewBag.Description = "";
}

<script type="text/javascript">
    menuItemIndex = 0;
</script>

<div id="main-container">
    <h2>About Us</h2>

    <p>Working primarily with Microsoft .NET technologies, our certified staff with over
    15 years commercial experience, are able to help make your project a success.</p>
</div>



