@{
    ViewBag.Title = "Our Work";
    ViewBag.Description = "Rivensoft provides Microsoft .NET software development for small, medium businesses and the enterprise.";
}

<script type="text/javascript">
    menuItemIndex = 1;
</script>

<div id="main-container">
    <h2>Our Work</h2>

    <h3>NetConstruct</h3>

    <p>Rivensoft helped NetConstruct deliver Microsoft ASP.NET WebForm ecommerce micro-sites
    for their leading client.  Their client, a leader in the electronic voucher market,
    required many micro-sites creating for its large blue chip client base, including household
    names such as BHS, Harvey Nichols, Oasis, Wallis, SayShopping and Miss Selfridge.</p>

    <h3>Superbreak</h3>

    <p>Superbreak were looking to migrate their main commercial website and its B2B web services
    from ColdFusion to Microsoft ASP.NET MVC technology.  They hired Rivensoft to help with this
    transition.  We helped bring their website up to date and introduce data caching to speed up
    page loading times to create a better user experience for their customers.</p>

    <h3>Minster Law</h3>

    <p>Rivensoft helped Minster Law expand their central claims handling software, written using
    Microsoft Silverlight technology, to handle B2C claims and expand the claim handling power
    of their claim assessment teams.  Helping Minster Law save money by performing deeper
    analysis on claims prior to them reaching their premium salaried solicitors.</p>
</div>
