@{
    ViewBag.Title = "Contact Us";
    ViewBag.Description = "Rivensoft can be contacted by calling 07912 852106 or by email.";
}

<script type="text/javascript">
    menuItemIndex = 3;
</script>

<div id="main-container">
    <h2>Contact Us</h2>

    <p>You can contact us via email at: <a href="mailto:info@rivensoft.com">info@rivensoft.com</a></p>

    <p>Or via telephone: 07912 852 106</p>
</div>