@{
    ViewBag.Title = "Development";
    ViewBag.Description = "Rivensoft specialise in Microsoft ASP.NET MVC, WebForms, Silverlight, WCF and Entity Framework.";
}

<script type="text/javascript">
    menuItemIndex = 0;
</script>

<div id="main-container">
    <h2>Development</h2>

    <p>Rivensoft specialise in helping businesses deliver enterprise software, commercial
    websites and line of business application projects.  We do this using the latest
    Microsoft .NET technologies and frameworks.  In combination with experience in
    proven software design and delivery methodologies.  This means industry standard
    software development practices, smoother delivery of projects and a greater return
    on investment.</p>

    <h3>Websites</h3>

    <p>We can develop your business or ecommerce website in the latest Microsoft .NET
    technologies.  Specialising in Microsoft ASP.NET WebForms and MVC, we can apply
    these frameworks to building ecommerce websites, company websites and intranets,
    as well as line of business web based systems.</p>

    <h3>Enterprise Applications</h3>

    <p>With over 15 years experience in designing and building enterprise applications
    and systems, we can help you realise scalable, reliable and secure software that
    can underpin your whole business, reduce costs and lower your bottom line.</p>
</div>