@{
    ViewBag.Title = "Development";
}

<script type="text/javascript">
    menuItemIndex = 2;
</script>

<div id="main-container">
    <h2>Development</h2>

    <p>Rivensoft specialise in helping businesses deliver enterprise software, commercial
    websites and line of business application projects.  We do this using the latest
    Microsoft .NET technologies and frameworks.  This means industry standard software
    development practices, smoother delivery of projects and a greater return on investment.</p>

    <h3>Websites</h3>

    <p>We can develop your business or ecommerce website in the technology of your choice.</p>

    <h3>Enterprise Applications</h3>

    <p></p>
</div>