@{
    ViewBag.Title = "Rivensoft - Microsoft .NET, Software Development, Enterprise Applications, Websites";
    ViewBag.Description = "Rivensoft provides Microsoft .NET software development and consultancy for businesses in the Yorkshire area.";
}

<div id="main-header">
    <div style="background: url('/Content/Images/main.jpg'); height:350px; width:961px; margin: 1px 0px 0px 0px">
        <br />
        <h3 style="margin: 64px 172px 46px 72px; color: #FFFFFF; font-size:33px;">"Rivensoft specialise in helping businesses deliver enterprise
        software, commercial websites and line of business application projects."</h3>
    </div>
    <div id="certification">
        <img src="@Url.Content("~/Content/Images/mcts.gif")" alt="Microsoft Certified Technology Specialist" />
        <img src="@Url.Content("~/Content/Images/mcpd.gif")" alt="Microsoft Certified Professional Developer" />
    </div>
    <div style="clear: both;"></div>
</div>

<div id="main-container">
</div>
