@{
    ViewBag.Title = "About Us";
}

<h2>About Us</h2>

<h3>Rivensoft Limited</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum tincidunt porta. Nullam id tellus turpis, ac faucibus dolor. Quisque in vulputate nisi. Proin at eros est. Fusce aliquet turpis et arcu auctor sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed quis elit nunc, sit amet sodales sem. Aenean ac metus ut dui imperdiet venenatis. Ut congue, urna et faucibus condimentum, tellus nisl luctus eros, ut ultricies est urna vitae dolor. Ut eu libero justo, at venenatis quam. Nunc ut libero augue, sit amet feugiat justo. Fusce condimentum, arcu ac sodales imperdiet, est velit adipiscing quam, vitae fringilla turpis magna ac ante. Etiam adipiscing ante non sapien adipiscing feugiat. Integer magna dui, laoreet eu vestibulum et, gravida vitae nunc. Maecenas libero tellus, dapibus non gravida et, ultricies quis enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

<h3>Our Staff</h3>

<p>Sed ut nibh arcu. Integer commodo ullamcorper elit vel consequat. Donec semper libero enim, a egestas sem. In gravida est vitae sapien ullamcorper eu sollicitudin nisl elementum. Pellentesque vulputate enim in neque tristique cursus. Nullam erat nulla, suscipit fringilla convallis sed, fringilla id nibh. In ultricies, elit quis dictum laoreet, mi eros posuere tortor, sit amet volutpat eros enim vitae nunc. Praesent at ante elit, a condimentum tortor. Mauris pretium quam nisl. Ut ut metus ut tortor condimentum dignissim id in massa. Nullam accumsan, massa id venenatis vestibulum, augue ligula consectetur lorem, adipiscing ornare nisl ipsum sit amet lacus. Curabitur porta, metus id bibendum sodales, eros quam pulvinar quam, nec pulvinar lacus lacus sit amet sem.</p>