@{
    ViewBag.Title = "Our Previous Clients";
}

<h2>Our Previous Clients</h2>

<h3>NetConstruct</h3>

Rivensoft have helped NetConstruct deliver Microsoft ASP.NET WebForm websites for it's
leading client Hemingways.  This leader in the electronic voucher market, required many
micro-sites creating for its large blue chip client base, including household names
such as BHS, Harvey Nichols, Oasis, Wallis, SayShopping and Miss Selfridge.

<h3>Superbreak</h3>

Superbreak were looking to migrate their main commercial website and its B2B web services
from ColdFusion to Microsoft ASP.NET MVC technology.  They hired Rivensoft to help with this
transition. 

<h3>Minster Law</h3>

Rivensoft helped Minster Law expand their central claims handling software, written using
Microsoft Silverlight technology, to handle B2C claims and expand the claim handling power
of their claim assessment teams.